# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

./data/
assign2_programming/data/RiderHaggard/stemmed/A Winter Pilgrimage (1901).txt
assign2_programming/data/RiderHaggard/stemmed/A Yellow God an Idol of Africa.txt
assign2_programming/data/RiderHaggard/stemmed/Allan and the Holy Flower.txt
assign2_programming/data/RiderHaggard/stemmed/Allan and the Ice Gods (1927).txt
assign2_programming/data/RiderHaggard/stemmed/Allan Quatermain.txt
assign2_programming/data/RiderHaggard/stemmed/Allan's Wife.txt
assign2_programming/data/RiderHaggard/stemmed/Ayesha, the Return of She.txt
assign2_programming/data/RiderHaggard/stemmed/Beatrice.txt
assign2_programming/data/RiderHaggard/stemmed/Benita, an African romance.txt
assign2_programming/data/RiderHaggard/stemmed/Black Heart and White Heart.txt
assign2_programming/data/RiderHaggard/stemmed/Cetywayo and his White Neighbours Remarks on Recent Events in Zululand, Natal, and the Transvaal.txt
assign2_programming/data/RiderHaggard/stemmed/Child of Storm.txt
assign2_programming/data/RiderHaggard/stemmed/Cleopatra.txt
assign2_programming/data/RiderHaggard/stemmed/Colonel Quaritch, V.C. A Tale of Country Life.txt
assign2_programming/data/RiderHaggard/stemmed/Dawn.txt
assign2_programming/data/RiderHaggard/stemmed/Doctor Therne.txt
assign2_programming/data/RiderHaggard/stemmed/Elissa.txt
assign2_programming/data/RiderHaggard/stemmed/Eric Brighteyes.txt
assign2_programming/data/RiderHaggard/stemmed/Fair Margaret.txt
assign2_programming/data/RiderHaggard/stemmed/Finished.txt
assign2_programming/data/RiderHaggard/stemmed/Heu-Heu (1924).txt
assign2_programming/data/RiderHaggard/stemmed/Hunter Quatermain's Story.txt
assign2_programming/data/RiderHaggard/stemmed/Jess.txt
assign2_programming/data/RiderHaggard/stemmed/King Solomon's Mines.txt
assign2_programming/data/RiderHaggard/stemmed/Long Odds.txt
assign2_programming/data/RiderHaggard/stemmed/Love Eternal.txt
assign2_programming/data/RiderHaggard/stemmed/Lysbeth, a Tale of the Dutch.txt
assign2_programming/data/RiderHaggard/stemmed/Maiwa's Revenge.txt
assign2_programming/data/RiderHaggard/stemmed/Marie An Episode in The Life of the late Allan Quatermain.txt
assign2_programming/data/RiderHaggard/stemmed/Montezuma's Daughter.txt
assign2_programming/data/RiderHaggard/stemmed/Moon of Israel.txt
assign2_programming/data/RiderHaggard/stemmed/Morning Star.txt
assign2_programming/data/RiderHaggard/stemmed/Mr. Meeson's Will.txt
assign2_programming/data/RiderHaggard/stemmed/Nada the Lily.txt
assign2_programming/data/RiderHaggard/stemmed/Pearl-Maiden.txt
assign2_programming/data/RiderHaggard/stemmed/Queen of the Dawn (1925).txt
assign2_programming/data/RiderHaggard/stemmed/Queen Sheba's Ring.txt
assign2_programming/data/RiderHaggard/stemmed/Red Eve.txt
assign2_programming/data/RiderHaggard/stemmed/Regeneration.txt
assign2_programming/data/RiderHaggard/stemmed/She and Allan.txt
assign2_programming/data/RiderHaggard/stemmed/She.txt
assign2_programming/data/RiderHaggard/stemmed/Smith and the Pharaohs, and other Tales.txt
assign2_programming/data/RiderHaggard/stemmed/Stella Fregelius.txt
assign2_programming/data/RiderHaggard/stemmed/Stories by English Authors Africa (Selected by Scribners).txt
assign2_programming/data/RiderHaggard/stemmed/Swallow a tale of the great trek.txt
assign2_programming/data/RiderHaggard/stemmed/The Ancient Allan.txt
assign2_programming/data/RiderHaggard/stemmed/The Brethren.txt
assign2_programming/data/RiderHaggard/stemmed/The Ghost Kings.txt
assign2_programming/data/RiderHaggard/stemmed/The Ivory Child.txt
assign2_programming/data/RiderHaggard/stemmed/The Lady of Blossholme.txt
assign2_programming/data/RiderHaggard/stemmed/The Mahatma and the Hare.txt
assign2_programming/data/RiderHaggard/stemmed/The People of the Mist.txt
assign2_programming/data/RiderHaggard/stemmed/The Tale of Three Lions.txt
assign2_programming/data/RiderHaggard/stemmed/The Virgin of the Sun.txt
assign2_programming/data/RiderHaggard/stemmed/The Wanderer's Necklace.txt
assign2_programming/data/RiderHaggard/stemmed/The Witch's Head (1884).txt
assign2_programming/data/RiderHaggard/stemmed/The Wizard.txt
assign2_programming/data/RiderHaggard/stemmed/The World's Desire.txt
assign2_programming/data/RiderHaggard/stemmed/When the World Shook being an account of the great adventure of Bastin, Bickley and Arbuthnot.txt
assign2_programming/data/RiderHaggard/stemmed/Wisdom's Daughter (1923).txt
